# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# VSCode config (если используешь)
.vscode/

# Mac OS metadata
.DS_Store

# Logs
*.log

# Jupyter notebook checkpoints (если используешь)
.ipynb_checkpoints/
